.container__objects{
  width: 100%;
  height: 100%;
}

.container__wrapper{
  width: 100%;
  height: 70%;
}

.container__title{
  text-align: center;
  font-size: 2em;
}

.container__tables{
  display:flex;
  justify-content: space-around;
  height: 100%;
}

.container__thead th{
  background-color: #63629b;
  color: white;
  padding: 1em;
}

.container__calendari td{
  width: 7vw;
  height: 4vh;
  text-align: center;
}

.container__hora{
  text-align: center;
}

.hora__nodisponible {
  background-color:green;
  color: white;
  padding: 0.5em;
}

.hora__ocupada{
  background-color: rgb(75, 75, 75);
  color: white;
  padding: 0.5em;
}