.container__objects{
  width: 100%;
  height: 100%;
}

.container__wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.container__calendari td{
  width: 15vw;
  padding: 0.75em;
  text-align: center;
}

.container__thead th{
  background-color: #63629b;
  color: white;
  padding: 0.75em;
}

.container__cita{
  color:white;
  background-color:#ff9b21;
}

.container__btnback{
  border:none;
  background-color: #ff9b21;
  color: white;
  padding: 1em;
  cursor: pointer;
  width: 20vw;
  
}