

.container__objects {
  display: flex;
  height: 100%;
  width: 100%;
}

.container__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container__anterior,
.container__seguent {
  border: none;
  color: white;
  padding: 0px;
  background-color: #ff9b21;
  cursor: pointer;
  height: 10%;
  width: 5%;
}

.container__anterior:hover,
.container__seguent:hover {
  background-color: #E8480C;
}

.container__calendar {
  padding-top: 5%;
  display: flex;
  width: 60%;
  height: 95%;
}

.container__fill {
  margin-left: 15%;
}

.container__fill2 {
  margin-right: 15%;
}

.container__calendari {
  width: 100%;
  height: 90%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container__mesany {
  background-color: #63629b;
  color: white;
}

.container__calendari td {
  width: 13%;
  height: 13%;
  text-align: center;
}

.container__dia {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0px;
  color: white;
}

.container__disponible {
  background-color: rgb(75, 75, 75);
  cursor: pointer;
}

.container__disponible:hover {
  background-color: #ff9b21;
}

.container__nodisponible {
  background-color: rgb(225, 225, 225);
  color: rgb(155, 155, 155);
}

.historic{
  display: none;
}

@media(max-width:500px) {
  .historic{
    display: flex;
    justify-content: center;
  }
  
   #form{
    width: 100%;
     display: flex;
    justify-content: center;
  }
  
  .historic__btn{
    border: none;
    color: white;
    background-color: #8281CC;
    width: 50%;
    height: 80%;
  }
  
  .container__wrapper {
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }
  .container__calendar {
    width: 70%;
  }
  .container__calendari {
    table-layout: fixed;
  }
  .container__anterior,
  .container__seguent {
    height: 15%;
    width: 10%;
    margin-top: 30vh;
  }
  .container__fill {
    margin-left: 3em;
  }
  .container__fill2 {
    margin-right: 3em;
  }
}