@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  box-sizing: content-box;
}

html,
body {
  height: 100%;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

section {
  grid-area: main;
}

body {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 90%;
  grid-template-areas: "nav header" "nav main";
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: #ff9b21;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.header__title {
  margin-right: 17.5vw;
}

.header__search {
  border: none;
  border-radius: 20px;
  text-align: center;
  margin-right: 1em;
  margin-left: 1em;
  padding: 0.25em;
  background: url(../imgs/search.png) no-repeat 5% 50%;
  background-color: #CC7C1A;
}

.nav {
  background-color: #63629b;
  color: white;
}

.nav__figure {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 10%;
  background-color: #8281CC;
}

.nav__figure a{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.nav__logo {
  height: 100%;
}

.nav__list {
  height: 80%;
  list-style: none;
  padding-left: 10px;
}

.nav__element {
  width: content-box;
  display: flex;
  padding: 1em;
}

.nav__link {
  font-size: 2vw;
  font-weight: bolder;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.nav__link img{
  height: 3vw;
}

.nav__text {
  padding-left: 10px;
}

.nav__historic{
  padding-top: 2vh;
}

.nav__historicbtn{
  border: none;
  color: white;
  background-color: #8281CC;
  padding: 1vw;
  width: 80%;
  margin-left: 0.5vw;
  cursor: pointer;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.navmobile{
  display: none;
}

@media(max-width:500px) {
 body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 70% 10% 10%;
    grid-template-areas: "header" "main" "historic" "nav";
    font-family: 'Open Sans', sans-serif;
  }

    .nav {
    display: none;
  }
  
  .navmobile {
    grid-area: nav;
    background-color: #63629b;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    color:white;
  }
  
  .navmobile__link{
    display:flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    color:white;
    border-left: 0.75px solid;
    border-right: 0.75px solid;
    border-color: #535282;
  }
  
  .navmobile__link img{
    width: 30%;
  }
  
  .header__title {
    width: 30%;
    padding:0px;
    margin: 0px;
  }
  
  .header__form{
    width: 65%;
  }
  
  .header__search{
    width:80%;
    margin-right: 0px;
  }
  
}