@import url('https://fonts.googleapis.com/css?family=Catamaran|Open+Sans');
/*COLORS*/

/*
  Taronja: #ff9b21;
      rgb: (255, 155, 33);
  Violeta: #63629b;
      rgb: (99, 98, 155);
*/

* {
  box-sizing: content-box;
}

html,
body {
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  grid-area: header;
  display: flex;
  justify-self: center;
}

.container {
  grid-area: main;
  background-image: url(../imgs/background.jpg);
  background-size: cover;
  display: grid;
  grid-template-rows: 10% auto 10%;
}

.footer {
  display: flex;
  grid-area: footer;
  background-color: #63629b;
  justify-content: center;
}

body {
  display: grid;
  grid-template-columns: auto 50% 25%;
  grid-template-rows: 15% auto 10%;
  grid-template-areas: "header header header" 
                       "main main main" 
                       "footer footer footer";
  font-family: 'Catamaran', sans-serif;
}

.header {
  width: 80%;
}

.header__figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding-right:10px;
  width: 30%;
}

.header__logo {
  max-width: 100%;
  max-height: 100%;
  min-width: 40%;
  min-height: 40%;
}

.nav {
  width: 100%;
}

.nav__list {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  font-family: 'Catamaran', sans-serif;
}

.nav__element {
  height: 100%;
  width: 100%;
  font-size: 2rem;
}

.nav__element a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #63629b;
}

.nav__element:hover {
  background-color: rgba(155, 155, 155, 0.2);
}

.container__objects {
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgba(255, 255, 255, 0.9);
}

.block {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 80%;
}

.block-left__list,
.block-right__list {
  list-style-type: none;
  display: flex;
  padding-left: 0px;
}

.block-left__li {
  padding-right: 10px;
}

.block-right__li {
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif; 
}

.block-left__li a,
.block-right__li a {
  text-decoration: none;
  color: white;
}

.block-left__li a:hover,
.block-right__li a:hover {
  font-weight: bold;
}

.block-right__span {
  color: rgb(200, 200, 200);
}

.hide {
  display: none;
}

@media(max-width: 500px) {
  html, body{
    height: 107%;
  }
  
  body {
    display: grid;
    grid-template-columns: auto 50% 25%;
    grid-template-rows: 10% auto 20%;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    font-family: 'Catamaran', sans-serif;
  }
  
  .header {
    width: 100%;
    height: 100%;
    max-height: 100px;
  }
  .header__figure {
    padding-left: 5%;
  }
  
  .nav__element {
    height: 100%;
    width: 100%;
    font-size: 1.25rem;
  }
  
  .container{
    min-height: 400px;
  }
  
  .footer{
    min-height: 130px;  
  }
  
  .block-left__list,
  .block-right__list {
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    flex-direction: column;
  }
  
  .block-left__li, .block-right__li{
    padding-top: 5px;
  }
  
}