.container__objects {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 80%;
}

.container__anterior,
.container__seguent {
  border: none;
  color: white;
  padding: 0px;
  background-color: #ff9b21;
  cursor: pointer;
  height: 10%;
  width: 5%;
}

.container__anterior:hover,
.container__seguent:hover {
  background-color: #E8480C;
}

.container__calendar {
  display: flex;
  width: 50%;
  height: 100%;
  padding-bottom: 10%;
}

.container__fill{
  margin-left: 18.3%;
}

.container__fill2{
  margin-right: 18.3%;
}

.container__calendari {
  margin-top: 10%;
  width: 100%;
  height: 90%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container__mesany {
  background-color: #63629b;
  color: white;
}

.container__any{
  font-family: 'Open Sans';
}

.container__calendari td {
  width: 13%;
  height: 13%;
  text-align: center;
  font-family: 'Open Sans';
}

.container__dia {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0px;
  color: white;
}

.container__disponible {
  background-color: rgb(75, 75, 75);
  cursor: pointer;
}

.container__disponible:hover {
  background-color: #ff9b21;
}

.container__nodisponible {
  background-color: rgb(225, 225, 225);
  color: rgb(155, 155, 155);
}


@media(max-width: 500px) {
  .container__wrapper {
    width: 100%;
    height: 100%;
  }
  .container__calendar {
    width: 70%;
  }
  .container__anterior,
  .container__seguent {
    border: none;
    color: white;
    padding: 0px;
    cursor: pointer;
    height: 20%;
    width: 10%;
  }
  
  .container__fill{
    margin-left: 3em;
  }
  
  .container__fill2{
    margin-right: 3em;
  }
}