.container__objects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Open Sans';
}

.container__text{
  color: #ff9b21;
  font-size: 3em;
}

.container__subtext{
  font-family: 'Open Sans';
  font-size: 0.75em;
  color: rgb(75, 75, 75);
}

@media(max-width:500px){
  .container__text{
    padding: 10px;
    font-size: 2.4em;
    text-align: center;
  }
}
