@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.container__wrapper {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 70% 20%;
  grid-template-areas: "data form"
                       "buttons buttons";
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

.container__data {
  grid-area: data;
  padding-top: 1.5em;
}

.container__form{
  grid-area: form;
  padding-top: 1.5em;
}

.container__title {
  color: #63629b;
  font-size: 2em;
}

.container__table {
  width: 100%;
  font-size: 1.25em;
}

.container__name{
  width: 30%;
}

.container__important input{
  color: #63629b;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
}

.container__formcamp{
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid rgb(200,200, 200);
  color: rgb(75, 75, 75);
  height: 100%;
  text-align: center;
  width: 100%;
}

.container__btns{
  grid-area: buttons;
  display: flex;
  justify-content: space-around;
  padding-top: 2em;
}

.container__btns a{
  text-decoration: none;
  width: 30%;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.container__btn {
  padding: 0px;
  margin: 0px;
  border-width: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  color: white;
  background-color: #ff9b21;
  width: 100%;
}

.container__btn:hover{
  background-color: #E8480C;
  cursor: pointer;
}

@media(max-width:500px){
  
  body {
  display: grid;
  grid-template-columns: auto 50% 25%;
  grid-template-rows: 9% 90% 10%;
  grid-template-areas: "header header header" 
                       "main main main" 
                       "footer footer footer";
  font-family: 'Catamaran', sans-serif;
  min-height: 800px;
  height: 120%;
  }
  
  .container{
    grid-template-rows: 7% auto 7%;
  }
  
  .container__wrapper {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 40% 40% 20%;
  grid-template-areas: "data data"
                       "form form"
                       "buttons buttons";
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  }
  
  .container__btns{
    margin-top: 2em;
    width: 90%;
  }
  
  .container__btn {
    padding: 20px;
    text-align: center;
    font-size: 1em;
  }
  
}