@import url('https://fonts.googleapis.com/css?family=Pangolin|Ubuntu');
* {
  box-sizing: content-box;
}

html, body{
  height: 100%;
  width: 100%;
}

body{
  background: url(../imgs/errorpage.jpg) center/100%;
}  

.container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.3);
}

.container__objects{
  width: content;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-shadow: 2px 1px 3px black; 
}

.container__errortext{
  color:white;
  padding: 10px;
  font-family: 'Pangolin';
  font-size: 3em;
}

.container__btn{
  background-color: #63629b;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-family: 'Ubuntu';
}

.container__btn:hover{
  box-shadow: 1px 1px 4px #666666;
}