 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
 .container__objects {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   flex-direction: column;
 }

 .container__data {
   height: 100%;
   font-family: 'Open Sans', sans-serif;
   width: 40%;
 }

 .container__title {
   color: #63629b;
   padding-left: 10px;
 }

 .container__table {
   font-size: 1.5em;
   width: 100%;
 }

 .container__table td {
   padding: 10px;
   width: 50%;
 }

 .container__important {
   color: #63629b;
 }

 .container__btns a {
   text-decoration: none;
   
 }

 .container__btn {
   font-size: 0.75em;
   padding: 10px;
   width: 35%;
   border: none;
   color: white;
   background-color: #ff9b21;
   cursor: pointer;
 }

 .container__btn:hover {
   background-color: #E8480C;
 }

 @media(max-width:500px) {
   .container__data {
     width: 80%;
   }
   .container__table {
     width: 100%;
     height: 70%;
   }
   .container__btn {
     width: 41%;
   }
 }

 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
 .container__objects {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   flex-direction: column;
 }

 .container__data {
   height: 100%;
   font-family: 'Open Sans', sans-serif;
   width: 40%;
 }

 .container__title {
   color: #63629b;
   padding-left: 10px;
 }

 .container__table {
   font-size: 1.5em;
   width: 100%;
 }

 .container__table td {
   padding: 10px;
   width: 50%;
 }

 .container__important {
   color: #63629b;
 }

 .container__btns a {
   text-decoration: none;
 }

 .container__btn {
   font-size: 0.75em;
   padding: 10px;
   width: 35%;
   border: none;
   color: white;
   background-color: #ff9b21;
   cursor: pointer;
 }

 .container__btn:hover {
   background-color: #E8480C;
 }

 @media(max-width:500px) {
   .container__data {
     width: 80%;
   }
   .container__table {
     width: 100%;
     height: 70%;
   }
   .container__btn {
     width: 41%;
   }
 }