.container__objects {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100%;
}

.container__fecha {
  display: flex;
  width: 50%;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
}

.container__data {
  font-weight: bold;
  color: #63629b;
  padding-left: 1%;
  padding-right: 1%;
  transition: 0.2s ease-in-out;
}

.container__table {
  width: 50%;
  height: 80%;
  table-layout: fixed;
}

.container__table td {
  width: 10%;
  height: 10%;
  text-align: center;
}

.container__hora {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0px;
  color: white;
}

.container__disponible {
  background-color: rgb(75, 75, 75);
}

.container__disponible:hover, .container__mediodisponible:hover {
  background-color: #ff9b21;
  cursor: pointer;

}

.container__nodisponible {
  background-color: rgb(225, 225, 225);
  color: rgb(155, 155, 155);
}

.container__mediodisponible {
  background-color: #63629b;
  color: white;
}

.hide {
  display: none;
}

.container__btn {
  padding: 10px;
  border: none;
  color: white;
  background: #ff9b21;
  margin: 1em;
  cursor: pointer;
}

@media(max-width: 500px) {
  body{
    height: 120%;
  }
  
  .container__objects{
    min-height: 400px;
  }
  
  .container__fecha{
    width: 100%;
  }
  
  .container__table {
    width: 100%;
    height: 90%;
  }
  .container__table td {
    width: 100%;
    text-align: center;
  }
}




