@import url('https://fonts.googleapis.com/css?family=Cabin');

.container__objects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.container__title {
  font-size: 3em;
  color: #ff9b21;
  font-family: 'Cabin'; 
}

.itv-form {
  width: 80%;
}

.itv-form table {
  border-collapse: collapse;
}

.itv-form table,
tbody,
tr,
td {
  width: 100%;
}

.itv-form__inputs {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10%;
}

.itv-form__matricula {
  border: none;
  width: 52%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: rgb(75, 75, 75);
  border: 1px solid rgb(200,200, 200);
}

.itv-form__cita {
  border: none;
  background-color: #ff9b21;
  color: white;
  width: 45%;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

@media(max-width:500px){
  .container__title{
    text-align: center;
  }
}