body  {
  font-family: 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;
  padding: 0;
  margin: 0;
}

.container__wrapper {
    display: flex;
    justify-content: center;
}

li > span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
    padding: 0 1em;
    background: lightcyan;
    border-radius: 10px;
}

li p {
  font-family: monospace;
}

button {
  padding: 0.5em;
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main {
  display: flex;
  flex-direction: column;
}

.title {
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    border-bottom: thin solid gray;
}

.title__text {
    display: flex;
    align-items: center;
}

.title img {
    height: 100px;
}

.text__container {
    width: 60%;
}