@import url('https://fonts.googleapis.com/css?family=Catamaran|Open+Sans');
/*COLORS*/

/*
  Taronja: #ff9b21;
      rgb: (255, 155, 33);
  Violeta: #63629b;
      rgb: (99, 98, 155);
*/

* {
  box-sizing: content-box;
}

html,
body {
  height: 100%;
}

header {
    grid-area: header;
    border-bottom: 1px solid;
    border-color: rgba(200, 200, 200, 0.8);
}

nav {
  grid-area: nav;
}

section{
  grid-area: main;
}

footer{
  grid-area: footer;
}

body {
  display: grid;
  grid-template-columns: 5% 95%;
  grid-template-rows: 15% 75% 10%;
  grid-template-areas: "header header" 
                       "main main" 
                       "footer footer";
  font-family: 'Catamaran', sans-serif;
}

.header{
    height: 100%;
    display: flex;
    justify-content: center;
}

.header__figure{
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 80%;
}

.header__figure a{
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
}

.header__logo{
}

.section{
    display: flex;
    justify-content: center;
}

.section__wrapper{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.section__colors{
    width: 30%;
}

.section__colorList{
    padding: 0px;
}

.section__color{
    display: flex;
    padding-top: 2.5vh;
}

.section__circle{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid;
    border-color: rgba(200, 200, 200, 0.8);
}

.section__values{
    font-family: 'Open Sans';
    padding-left: 20px;
}

.section__colorTitle{
    color: #63629b ;
    font-weight: bold;
}

.colorvalues{
    margin-top: 1em;
    margin-bottom: 0;
}

.lila{
    background-color: #63629b;
}

.taronja{
    background-color: #ff9b21;
}

.taronja2{
    background-color: #E8480C;
}

.blanc{
    background-color: white;
}

.gris{
    background-color: rgb(75,75,75);
}

.gris2{
    background-color: rgb(200, 200, 200);
}

.section__tipografia{
    width: 30%;
}

.section__tipografiaList{
    list-style: none;
    padding: 0px;
}

.section__elementTipo{
    font-weight: bold;
}

.section__font{
    color: rgb(155, 155, 155);
    font-size: 0.85em;
    font-family: 'Open Sans';
}

.tipoTitol{
    color: #FF9B21;
}

.tipoSubtitol{
    color: #63629B;
}

.opensans{
    font-family: 'Open Sans';
}

.section__buttons{
    padding-top: 9vh;
}

.section__btn{
    background-color: #ff9b21;
    color: white;
    width: 95%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: none;
    cursor: pointer;
}

.section__btn:hover{
    background-color: #E8480C;
}

.bold{
    font-weight: bold;
}

.section__pautes{
    width: 30%;
}

.section__titolText{
    margin-bottom: 0.7em;
}
.section__paragraf{
    display: block;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-family: 'Open Sans';
    font-size: 0.9em;
}